body { font-family: 'Arial', sans-serif; }
form { margin: 0; padding: 0; }
input[type="button"], input[type="submit"], button { color: #000;  border: 1px solid #000; box-shadow: 1px 1px 4px rgb(99, 99, 99); border-radius: 4px; }
input[type="button"]:active, input[type="submit"]:active, button:active { position: relative; left: 2px; top: 2px; box-shadow: 0px 0px 1px rgb(99, 99, 99); }

table.scorecard { width: 100%; border-collapse: collapse; margin: 0.5em 0 0 0; }

table tr { height: 48px; }
table td { border: 1px solid #000; padding: 0; padding: 0.5em; }
table td.score { width: 33%; text-align: center; font-weight: bold; font-size: 1.25em; }
table td.label { font-weight: 600; }
table td.label .text { float: left; padding: 4px 0; }
table td.buttons { display: none; }
table td.buttons input[type="number"] { width: 50%; padding: 0.25em; }
table td.buttons input[type="submit"] { padding: 0.25em; }
table td.buttons button { margin: 0; padding: 0.25em 0.5em; min-width: 36px; }

.additional-yahtzee { display: none; }
.bonus-message { display: none;  font-weight: bold; border-radius: 6px; padding: 4px 6px; }
.bonus-remaining { display: inline; float: right; padding: 4px 6px; }
.clear-button { float: right; display: none; padding: 4px 8px; }
.menu { margin: 1em 0; text-align: center; }
.total-score, .final-score { font-weight: bold; font-size: 1.25em; }

/* THEMES */

.theme.default { background-color: rgb(214, 214, 214); }
.theme.default input[type="button"], input[type="submit"], button { background-color: rgb(214, 214, 214); }
.theme.default table.scorecard { background-color: #FFF; }
.theme.default table td { border: 1px solid #000; }
.theme.default table td.score { color: #000; }
.theme.default table td.label { background-color: #646464; color: #FFF; text-shadow: 1px 1px 0 #000; }
.theme.default table td.buttons button { border: 1px solid #000; }
.theme.default table td.summary-score { background-color: #000; color: #FFF; }
.theme.default .bonus-message { color: rgb(0 90 12); background-color: #6eff6d; }
.theme.default .clear-button { color: rgb(180, 180, 180); }
.theme.default .final-score { color: #000; }

@media (min-width: 40em) {
    body { max-width: 400px; margin: 0 auto; }
}